.inputTexto{
    font-size: 45px!important;
    

}
.inputField{
    font-size: 30px!important;
    /* margin-bottom: 20px!important;
    margin-top: 30px!important; */
    
}

.tittle{
    font-size: 80px!important;
    margin-top: 40px!important;
}
.subtittle{
    font-size: 60px!important;
}
.buttonText{
    font-size: 40px!important;
}
.numero-validate{
    font-size: 100px!important;
}
body{
   
 
    height:  100%;
    
}
#register_btn{
    margin-top: 40px!important;
    margin-bottom: 20%;
}
#fin_btn{
  margin-bottom: 20%;
}
.alert.alert-time{
    display:none;
    position:fixed;
    z-index:999;
    font-size:15px;
    top:0;
    right:0;
    padding:1%;
    margin: 2%;
    
}
option{
    font-size: 15px;
}
#borrar{
    width:100px;
    height: 100px;
    position: absolute;
    top:0;
    right: 0;
}
.texto-modal{
    font-size: 60px;
  
  
}
.tittle-modal{
    font-size: 70px;
  
}
.btn-red{
    font-size: 40px!important;
    
}
#departamentoReg{
    /* styling */
 
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;    
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, transparent 50%, transparent 50%);
  background-position:
    calc(100% - 29.7px) calc(100% - 50%),
    calc(100% - 15px) calc(100% - 50%),
    100% 0;
  background-size:
    15px 15px,
    15px 15px,
    2px 2px;
  background-repeat: no-repeat;

}
#acompReg{
  /* styling */

border-radius: 4px;
display: inline-block;
font: inherit;
line-height: 1.5em;    
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
background-image:
  linear-gradient(45deg, transparent 50%, black 50%),
  linear-gradient(135deg, black 50%, transparent 50%),
  linear-gradient(to right, transparent 50%, transparent 50%);
background-position:
  calc(100% - 29.7px) calc(100% - 50%),
  calc(100% - 15px) calc(100% - 50%),
  100% 0;
background-size:
  15px 15px,
  15px 15px,
  2px 2px;
background-repeat: no-repeat;

}
canvas {
    margin: auto;
    width: 100%;
    height: 300px;
    border: 4px solid black;
}
.w-custom{
    width: 1000px!important;
}
.redondo{
    border-radius: 200px!important;

}
.clock{
    font-size: 200px;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* #departamentoReg{

    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    }
    #departamentoReg::-ms-expand {
    display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
    
.alert.alert-val-error{
    display:none;
    position:fixed;
    z-index:999;
    font-size:15px;
    top:0;
    right:0;
    padding:1%;
    margin: 2%;
    
}
.jumbotron{
  margin: auto;
  width: 40%!important;
 
}
.login{
  width: 100%!important
}
.btn-number{
    border-radius: 100%;
    background-color: cornflowerblue;
    color: white;
    width: 150px;
    height: 150px;
    margin-left:10%;
    margin-bottom: 20%;
    font-size: 60px;
    border: none;
}
.numero_group{
    padding: auto;

    margin-top:10% ;
}
.alert{
    font-size: 40px;
}
.registro.alert{
    font-size: 15px;
}


 

header{
   width: 100%;
   height: 35%;
   background-image: url("img/banner6.png");

   background-size: cover;
   background-repeat: no-repeat;
   
}
#bannerForm{
    width: 100%;
    height: 25%;
   background-image: url("img/banner6.png");
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   

}
.texto-red{
color:red;
font-size: 30px;
margin-bottom: 0;
}
.input-red{
    border-color: red;
    border-width: 2px;
}

.qr{
    width: 40%;
}
footer{
 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(49, 128, 189);
 
  
}
.w-48{
    width:48%;
}
.footerForm{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color: rgb(49, 128, 189);
}

.hide{
    display:none;
}
.alert-number.h1{
    size: 200px;
}
hr{
    padding: 0px;
    margin: 0;
    background-color: rgb(2, 151, 94);
    width: 100%;
    height: 3px;
}
.hrForm{
    padding: 0px;
    margin: 0;
    background-color: rgb(2, 151, 94);
    width: 100%;
    height: 12px;
}
.copy{
    text-align: center;
    padding: 5px;
    margin-top:10px;
    color: white;
}
.copyForm{
    text-align: center;
    font-size: 35px;
    padding: 10px;
    margin-top:20px;;
    color: white;
}
html{
  
    height: 70%;
}
#resultado{
    float:left;
    margin-top: 40px;
    
   
}
#div2{
    float:right;
  
    
}
.time-num{
    font-size:20px;
}
.num{
    color: white;
}
/* animation  */

svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
  }
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
  }
  .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
  }
  .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
  }
  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
  }
  p.success {
    color: #73af55;
  }
  p.error {
    color: #d06079;
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  